/*
* @Author: Dell
* @Date:   2018-08-14 18:42:32
* @Last Modified by:   Dell
* @Last Modified time: 2018-08-16 11:05:15
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
header{
	width:100%;
	height: 1.01rem; 
	position: fixed;
	top: 0;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 999;
}
header .top{
	width: 100%;
	height: 1.01em;
	background: #ff5e00;
}
header .top .lasta{
	width: 100%;
	height: 0.95rem;
	padding:0.24rem;
}
header .top .dp img{
	width: 4rem;
	height: 0.5rem;
	float: left;
	margin-left: 1rem;
	margin-top: 0.1rem;

}
header .top .lasta .fh img{
	width:0.36rem;
	height: 0.51rem;
	float: left;
 }
 .container{
 	width: 7.02rem;
 	margin: 0 auto;
 }
 main{
 	width: 100%;
 	margin-top: 1.01rem;
 }
 .zf p{
 	font-size: 0.32rem;
 	color: #ff2a00;
 	text-align: center;
 	line-height: 0.4rem;
 	font-weight: bold;
 	margin-top: 0.4rem;
 }
 .y img{
 	width: 100%;
 	height:3rem;
 	margin: 0 auto;
 	margin-top: 0.2rem;

 }
 .an{
 	width: 4.5rem;
 	height: 0.92rem;
 	margin: 0 auto;
 	padding-top: 0.2rem;
 }
 .qisong{
 	width: 1.8rem;
	height: 0.62rem;
	border-radius: 0.24rem; 
	background:#ff6e00;
	font-size:0.28rem;
	color: #fff;
	text-align: center;
	line-height: 0.62rem;
	float: left;
	 margin-right: 0.45rem;
 }
.main-left h2{
 	font-size:0.32rem;
 	line-height: 0.32rem; 
 }
.main-tj{
	width: 100%;
	height:0.59rem;
	margin-top: 0.2rem;
	border-top:0.01rem solid #dddcdc; 
	border-bottom:0.01rem solid #dddcdc;
}
.main-tj h2{
	font-size: 0.28rem;
	color:#000000; 
	line-height: 0.58rem;
}
.tuijian{
	width: 100%;
	height: 7.71rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 0.4rem;
}
.main-tj ul li{
	width: 3.15rem;
	height: 3.54rem;
	flex-direction:column;
	border-radius:0.3rem;
	background:#fff;
	box-shadow:0 0.01rem 0.2rem 0.01rem #fce2b1;
}
.main-tj ul li img{
	width: 3.14rem;
	height: 2.54rem;
}
.main-tj ul li h2{
	font-size: 0.32rem;
	color:#000000; 
	text-align: center;
	line-height: 0.01rem;
	padding-bottom: 0.25rem;
}
.main-tj ul li p{
	font-size: 0.15rem;
	color:#a7a6a6;
	text-align:center;
	line-height: 0.06rem;
	padding-bottom: 0.21rem;
}
.main-tj h3{
	font-size: 0.32rem;
	color:#fc1616;
	text-align: center;
	line-height: 0.06rem;
}
.main-tj span{
	font-size: 0.28rem;
	color: #fc1616;
	text-align: center;
}

